# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Flask
instance/
*.pyc

# OS
Thumbs.db

# PyInstaller & Packages
build/
dist/
release/
dmg_root/
*.spec
*.dmg
*.zip
